@import "tailwindcss";
@plugin '@tailwindcss/typography';

@font-face {
  font-family: "Hacker";
  src: url("/fonts/MadHacker-Yjz8.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  outline: none;
  box-sizing: border-box !important;
}

:root {
  --terminal-light-green: hsl(141, 100%, 70%);
  --terminal-green: hsl(141, 100%, 50%);
  --terminal-dark-green: hsl(141, 100%, 23%);
  --color-info: #3f82df;

  --darker-grey: hsl(0, 0%, 8%);
  --dark-grey: hsl(0, 0%, 12%);
  --normal-grey: hsl(0, 0%, 20%);
  --light-grey: hsl(0, 0%, 30%);
  --lighter-grey: hsl(0, 0%, 40%);
  --lighter-grey: hsl(0, 0%, 50%);

  --clr-error: hsl(0, 100%, 50%);
}

body {
  background-color: black;
  color: white;
  font-family: monospace, sans-serif;
  font-size: 18px;
}

.mono {
  font-family: monospace !important;
}

.hacker {
  font-family: "Hacker", monospace !important;
}

h1 {
  font-family: "Hacker", monospace;
  color: var(--terminal-light-green);

  text-shadow: 0 0 5px var(--terminal-green),
    0 0 0.2em var(--terminal-dark-green);

  line-height: 100%;
}

input {
  border: 1px solid var(--normal-grey);
  @apply px-2 h-10 min-w-30 max-w-80 w-full;
}

button {
  cursor: pointer;
}

.btn-simple {
  border: 1px solid var(--normal-grey);
  @apply flex items-center justify-center h-10 px-4;
  transition: all 0.2s ease-in-out;

  &.btn-square {
    @apply aspect-square p-0;
  }

  &:hover {
    background-color: var(--dark-grey);
  }
}

.blink {
  animation-name: blink-anime;
  animation-duration: 1s;
  animation-timing-function: step-end;
  animation-iteration-count: infinite;
}

/* 2. Define the keyframes */
@keyframes blink-anime {
  /* The animation starts (0%) with the element visible */
  0% {
    visibility: visible;
  }
  50% {
    /* Use 50% to ensure the element is visible for half the duration (0.5s) */
    visibility: hidden;
  }
  100% {
    /* Ensure it's hidden before repeating */
    visibility: hidden;
  }
}

#terminal {
  max-width: 600px;
  border: 1px solid var(--terminal-dark-green);
  @apply py-4 px-6 w-full;
  backdrop-filter: blur(2px);
}
